
/*mediaquerys*/
/*CARDS*/
@media screen and (max-width: 1450px) {
  .container-cards,
  .container-cards-two {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .container-cards,
  .container-cards-two {
    grid-template-columns: 1fr;
  }
}

/*media query para el menu hamburguesa*/
@media screen and (max-width: 1040px) {
.esconder{
    display: none;
}
#btn-abrir-burguer{
    display: block;
    cursor: pointer;
    position: fixed;
    top: 13px;
    right: 50px;
    width: 4rem;
    
}
}

/*imagenes*/
@media screen and (max-width: 1350px) {
  #imagen-principal{
      width: 80%;
      margin: 10rem auto;
      border-radius: 0.8rem;
      display: flex;
      align-items: center;
      position: relative
  }
}

/* FOOTER */
@media screen and (max-width: 1530px) {
  .grid--footer-cols {
      
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem; /* Agrega espacio entre las filas */
  }
}


@media screen and (max-width: 1150px) {
  .grid--footer-cols {
      
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem; /* Agrega espacio entre las filas */
  }
}

@media screen and (max-width: 760px) {
  .grid--footer-cols {
      
      grid-template-columns: 1fr;
      gap: 2rem; /* Agrega espacio entre las filas */
  }
}

@media screen and (max-width:1351px){
  #arrow-image-left{
      display: none;
  }

  #arrow-image-right{
      display: none;
  }
}

@media (min-width: 768px) {
  /* Media query para pantallas más grandes (ajusta los estilos según tus necesidades) */
  .carrusel {
      flex-direction: row; 
      height: 55rem; 
  }

  #arrow-image-right,
  #arrow-image-left {
      width: 8rem; 
      height: 8rem; 
  }

  .dot {
      width: 12px; 
      height: 12px; 
  }
}


/* Media queries para adaptar estilos según el tamaño de la pantalla */
@media screen and (max-width: 768px) {
  .carrusel {
      flex-direction: column; /* Cambia a diseño de columna en pantallas pequeñas */
      align-items: center; /* Centra verticalmente en pantallas pequeñas */
  }

  #arrow-image-right,
  #arrow-image-left,
  .dots {
      position: static;
      transform: none;
      text-align: center;
      margin-top: 1rem;
  }

  #arrow-image-left {
      margin-top: 1rem;
  }
}

/*Opinion*/

@media screen and (max-width: 1350px) {
  .opinion {
      width: 80%; 
      max-width: 80%;
      .img-encima{
          display: none;
      }
      .img-opinion{
          width: 90%; 
          max-width: 90%;
          align-items: center;
      }
  }
}

@media screen and (max-width: 1240px) {
  .opinion {
      width: 70%;
      max-width: 70%;
      
  }
}

@media screen and (max-width: 1150px) {
  .opinion {
      width: 60%;
      max-width: 60%;
      
      }
}

@media screen and (max-width: 1090px) {
  .opinion {
      width: 50%;
      max-width: 50%;
      .text-opinion{
          display: none;
      }
  }
}

@media screen and (max-width: 1000px) {
  .opinion{
      width: 40%;
      max-width: 40%;
  }
}

@media screen and (max-width: 960px) {
  .opinion {
      width: 30%;
      max-width: 30%;
  }
}

@media screen and (max-width: 450px) {
  .opinion {
      width: 20%;
      max-width: 20%;
  }
}

@media screen and (max-width: 300px) {
  .opinion {
      width: 10%;
      max-width: 10%;
  }
}



