body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  background-color: #f3f2f1;
}

h1 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: calc(100% - 22px); /* Ampliar caja de búsqueda */
}

label {
  display: block;
  margin-top: 20px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

#results {
  margin-top: 20px;
}

.results-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas */
  gap: 20px; /* Espacio entre columnas */
}

.recipe {
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detail-button {
  background-color: #8d12c9;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.detail-button:hover {
  background-color: #f2eb32;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.details-container {
  margin-top: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.detail-title {
  font-weight: bold;
  margin-top: 20px;
}

.detail-content {
  margin-bottom: 10px;
}

/* Estilo específico para las instrucciones */
.details-container ol {
  list-style-type: decimal;
  padding-left: 20px;
  column-count: 1; /* Aseguramos una sola columna */
  -webkit-column-count: 1; /* Aseguramos una sola columna en WebKit */
  -moz-column-count: 1; /* Aseguramos una sola columna en Mozilla */
}

.details-container ol li {
  margin-bottom: 10px; /* Espacio entre cada instrucción */
  display: block; /* Aseguramos que cada elemento ocupe toda la línea */
}

/* Estilo para el contenedor en pantalla completa */
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Estilo para la tarjeta en pantalla completa */
.fullscreen .recipe-content {
  position: relative; /* Aseguramos que el botón de cerrar esté posicionado relativamente a este contenedor */
  width: 80%;
  max-width: 800px;
  max-height: 80%; /* Asegura que no se exceda la altura de la pantalla */
  background: white;
  padding: 20px;
  border-radius: 8px;
  overflow-y: auto; /* Permite desplazamiento vertical si el contenido es demasiado grande */
}

.fullscreen .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.form-card {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  max-width: 400px;
}
.form-card h3 {
  margin-top: 0;
}
.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
.form-container button {
  width: 10%;
  padding: 12px;
  background-color: #8d12c9;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.form-container button:hover {
  background-color: #f2eb32;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

