/* Agrega estos estilos para el carrito */
.carrito {
  display: none;
  /* Inicializamos el carrito como oculto */
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  padding: 10px;
  color: #424242;
  font-family: 'Montserrat', sans-serif;
}

.carrito-visible {
  display: block;
  background-image: #f3f2f1;
  border-radius: 0.9rem;
  margin-top: 7rem;
  margin-right: 4rem;
}

.submenu {
  position: relative;
}

.u-full-width {
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 5px;
}


thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.cerrar-carrito-btn {
  font-size: 1.8rem;
  font-weight: 4rem;
  margin-top: 1rem;
  margin-left: 50rem;
  border: 0.1rem solid #424242c9;
  background-color: white;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  border-radius: 0.7rem;

}

.cerrar-carrito-btn:hover {
  background-color: #42424293;
  color: white;
  border: 0.1rem solid #42424293;

}

a {
  text-decoration: none;
  color: #ebcc49;
}

.carrito-cerrar-vaciar {
  display: flex;
}

#img-carrito {
  cursor: pointer;
}