/* ESTILO CARD JUGADORAS */

.card-equipo {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 10px; 
  margin-top: -20rem;
}

.card-jugadora {
  width: 20%; 
  height: 10rem;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(242, 235, 50, 0.40);
  box-shadow: 9px 7px 4px 0px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease;
  display: flex; 
}

.card-imagen{
  width: 50%; 
  height: auto; 
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px; 
}

.card-texto {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 0.4 rem;
  font-weight: 100;
}

.card-texto p {
  margin-left: 0.3rem;
  color: #2F4637; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding:0.2rem;
}

/*ESTILO CARD TIEMPO */

.card-tiempo {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 100vw; /* Ocupa el ancho completo de la pantalla */
  max-width: 1500px; /* Ancho máximo para el contenido */
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: auto; /* Margen izquierdo automático para centrar horizontalmente */
  margin-right: auto;
}

.card-dias {
  width: 10%; 
  height: 15rem;
  border-radius: 10px;
  background: linear-gradient(180deg, #8D12C9 20%, #C76DEE 60%, #F2F5F3 95%);
  box-shadow: 9px 7px 4px 0px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease;
  display: flex; 
  align-items: center;
  margin-left: 4rem;
}

.card-icono{
  width: 100%; 
  height: auto; 
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px; 
  justify-content: center;
  align-items: center;
}

.card-texto-lunes {
  margin-left: 3rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 0.7 rem;
  font-weight: 400;
  text-align: center;
}

.card-texto p {
  color: #2F4637; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding:0.2rem;
  width: 100%;
  text-align: center;
}

