/* Dispositivos móviles: 320px - 480px */
@media (max-width: 480px) {
  .navegacion .header {
    flex-direction: column;
  }

  .navegacion .link {
    margin: 10px 0;
  }

  .contenedor-zona-1 img,
  .contenedor-zona-2 img,
  .contenedor-zona-3 img,
  .contenedor-zona-4 img,
  .contenedor-zona-4 {
    width: 100%;
    height: auto;
  }

  .imagen-zona-4-1 {
    
    height: auto;
  }

  .contenedor-zona-4 {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contenedor-zona-4-2 {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .contenedor-zona-4-texto {
    width: 100%;
  }

  .card {
    flex: 1 1 100%;
  }

  .footer .container {
    flex-direction: column;
    text-align: center;
  }
}

/* iPads, Tabletas: 481px - 768px */
@media (min-width: 481px) and (max-width: 768px) {
  .contenedor-zona-4 {
    padding: 20px;
  }

  .contenedor-zona-4-2 {
    padding: 20px;
  }

  .imagen-zona-4-2 {
    margin-top: 10px; /* Añade espacio entre la imagen y el texto en dispositivos móviles */
    margin: auto;
  }
}

/* Pantallas pequeñas, laptops: 769px - 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .contenedor-zona-4 {
    padding: 30px;
  }

  .contenedor-zona-4-2 {
    padding: 30px;
  }
}

/* Computadoras de escritorio, pantallas grandes: 1025px - 1200px */
@media (min-width: 1025px) and (max-width: 1200px) {
  .contenedor-zona-4 {
    padding: 40px;
  }

  .contenedor-zona-4-2 {
    padding: 40px;
  }
}

/* Pantallas extra-grandes, TV: 1201px y más */
@media (min-width: 1201px) {
  .contenedor-zona-4 {
    padding: 50px;
  }

  .contenedor-zona-4-2 {
    padding: 50px;
  }
}