body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative; /* Añade posición relativa al body */
}

.imagen-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  z-index: -1; 
}

.register-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  padding: 30px;
  text-align: center;
  z-index: 0;
}

form {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #666;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #8D12C9;
  color: #f3f3f1;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #F2EB32;
}

.login-link {
  color: #666;
}

#login-link-btn {
  display: block;
  width: 100%;
  padding: 12px;
  border: 1px solid #8D12C9;
  border-radius: 4px;
  background-color: #8D12C9;
  color: #f3f3f1;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#login-link-btn:hover {
  background-color: #F2EB32;
}
