/* Estilos para la barra de navegación */
.navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  background: linear-gradient(
    180deg,
    #8d12c9 0%,
    #c76dee 46.82%,
    #f2f5f3 98.78%
  );
  width: 100%;
  top: 5rem;
  z-index: 1000; 
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
}

.fleki-bolas-padel-team,
.sobre-el-equipo {
  color: #002b09;
  font-size: 1.8rem;
  margin-left: 2rem;
  cursor: pointer;
}

.fleki-bolas-padel-team:hover,
.sobre-el-equipo:hover {
  color: #f2eb32;
}

a.link {
  text-decoration: none; 
}

.logo-fleki-container {
  position: relative;
  top: 45px; 
}

.logo-fleki {
  width: 15rem; 
  height: auto;
}

.icono-usuario {
  width: 8.3125rem;
  height: 8.625rem;
  cursor: pointer;
  position: relative;
  top: 1rem; 
  margin-right: 2rem;
}
