/* Estilos para las secciones */
.section {
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.texto-zona-5{
  font-weight: 700;
  font-size: x-large;
  background-color: #8d12c9;
  text-align: center;
  color:#f9f9f9;
}